{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form id="form_buy" action="/api/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}

<script>
$( document ).ready(function() {

  $( "#form_buy" ).submit(function( event ) {
    event.preventDefault();

    var values = $("#form_buy").serializeArray();

    var posting = $.post( "/api/buy", values )
        .done( function(data) {
            window.location.href = "index.html";
        })
        .fail( function(xhr, textStatus, errorThrown) {
            window.location.href = "apology.html";
        });

    <!--var symbol = $("input[name=symbol]").val();-->
    <!--var shares = $("input[name=shares]").val();-->

    <!--var request = {-->
      <!--"symbol": symbol,-->
      <!--"shares": shares,-->
    <!--};-->

    <!--$(".form-control").ajaxForm({-->
      <!--url: 'http://127.0.0.1:5000/buy',-->
      <!--type: 'post'-->
    <!--}).done(function(){})-->
  }


}

</script>